*{
  margin: 0;
  padding: 0;
}

html body{
  height: 100%;
  margin: 0;
}

/* Scrollbar */

body::-webkit-scrollbar{
  background-color: #ffe9ec;
}

body::-webkit-scrollbar-thumb{
  background-color: purple;
}

body {
  background: url(../img/backgrounds/Background_image_pages.png) fixed;
  background-repeat: repeat;
}

/* navbar */

nav li{
  list-style-type: none;
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #E591FF;
}

.navbar_links a {
 color: black;
 font-weight: bold;
 font-family: "Source Sans Pro", sans-serif;
 text-decoration: none;
}

.logo {
  height: 50px;
  width: 250px;
}

.navbar_menu {
 display: flex;
 gap: 10px;
 font-size: 20px;
}

.navbar_menu li:hover {
 background-color: purple;
 border-radius: 50px;
 transition: 1s ease;
}

.navbar_menu li {
 padding: 0px 10px;
}


input[type=checkbox]{
 display: none;
}

.menu_logo {
 display: none;
 font-size: 24px;
 user-select: none;
}


.body_characters{
  grid-template-columns: repeat(4,minmax(0,1fr));
  grid-template-areas:
  "header header header header"
  "main main main main"
  ". . . footer";
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}


.body_main{
  font-family: "Source Sans Pro", sans-serif;
}


.background_image{
  height: calc(60vw - 68px);
  background: url(../img/backgrounds/Bang_dream_image.jpg) no-repeat fixed;
  background-position: top;
  position: relative;
  background-size: 100vw calc(55vw - 68px);
  transform: translateY(0);
  z-index: -1;
}

.body_webshop{
  font-family: "Source Sans Pro", sans-serif;
}

.section_introduction{
  display: block;
  background-color: #F0C3FF;
  border: solid 1px;
  width: 50vw;
  border-radius: 100px;
  margin: 0 auto;
  height: 100%;
}

.text_introduction{
  font-weight: 600;
  font-size: 16px;
  max-width: 90%;
  margin: auto;
  padding-top: 4%;
  font-family: Corbel;
  color: #3d2e4f;
}

.text_introduction > .h1_introduction{
  font-size: 210%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5%;
}

.trailer{
  position: relative;
  display: block;
  justify-content: center;
  border-style: none;
  margin: 10%;
}

 /* Iframe kan niet "gewoon" scalen, dus is er een transparante image die over de iframe gaat en die doet het scalen*/

.trailer .placeholder{
  display: block;
  width: 100%;
  height: 90%;
}

.trailer > iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe{
  width: 100%;
  height: auto;
}

.button_trailer{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}

.button_next_trailer{
  width: 40%;
  height: 5vh;
  border: none;
  background-color: #ff3c72;
  color: white;
}

.button_next_trailer:hover{
  background-color: #e80e17;
  cursor: pointer;
}

#menu_trailers{
  width: 30%;
}

.section_areas > .image_content_game{
  margin-top: 6%;
}


.content_game{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  margin: auto;
  margin-top: 5%;
}

.h1_content{
  background: url("../img/assets/header_asset.png") 0 30% no-repeat;
  height: 6vh;
  background-color: #4648ab;
  color: white;
  position: relative;
  text-align: center;
  padding-top: 3%;
  text-indent: -20%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.h1_content::after{
  content: "";
  background: url("../img/assets/roselia_logo.png");
  background-position: right;
  background-repeat: no-repeat;
  right: -10px;
  position: absolute;
  background-size: cover;
  width: 20%;
  height: 70%;
}

.text_bottom{
  width: 30vw;
  height: 20vh;
  margin: auto;
  padding-top: 15%;
  box-sizing: border-box;
  margin-bottom: 65%;
  font-size: 19px;
}

.image_content_game{
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #4648ab;
}





/* Character screen */


.searchwrapper{
  text-align: center;
}

.searchbar{
  padding: 20px;
  margin-top: 40px;
  width: 40vw;
  font-size: 140%;
  border-width: 2px;
}

.searchbar:focus{
  outline: 7px solid #ADD8E6;
}

.header_characters {
  display: block;
  border: 2px solid black;
  border-radius: 25px;
  width: 43vw;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #FF73B7;
}

.header_characters > h1{
  font-size: 200%;
  color: blue;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.reverse-card {
  background-color: transparent;
  width: 100%;
  height: 450px;
  perspective: 1000px;
}

.reverse-card:hover .reverse-card-inner {
  transform: rotateY(180deg);
}

.grid_characters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    grid-row-gap: 40px;
    grid-column-gap: 10%;
    padding: 40px;
    margin-left: 4vw;
    justify-content: center;
}

.reverse-card-inner {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.reverse-card-front, .reverse-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.reverse-card-front {
  background-color: #bbb;
  color: black;
}

.reverse-card-back {
  background-color: #EBADFF;
  color: black;
  transform: rotateY(180deg);
  width:100%;
  height: 450px;
  border: 1px solid black;
  border-radius: 3px;
}

.img_character{
  width: 300px;
  height: 450px;
}

.top-card{
  display: block;
  background-color: orange;
  height: 20%;
  margin: 10px;
  border: 1px solid black;
  padding-top: 3%;
  color: black;
  font-size: 20px;
}

.top-card > .band_name{
  font-size: 16px;
  margin-bottom: 5%;
}

.card-text{
  font-size: 16px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Arial;
}

.band_role{
  font-size: 21px;
  font-weight: 700;
  padding-bottom: 10px;
}

.container {
  padding: 20px;
  margin: 0 auto;
}



/* webshop */

.webshop {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr minmax(0,1fr);
    width: 80%;
    margin: auto;
    gap: 40px;
    margin-top: 50px;
    place-self: center;
}
.webshop_item {
    box-shadow: 0px 0px 10px 10px #c7c7c7;
    background-color: white;
    border-radius: 50px;
}
.webshop_item_body {
    padding: 20px;
    max-width: 100%;
    overflow: auto;
}

.webshop_item img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.webshop_h2 {
    margin-top: 10px;
    text-align: center;
}
.webshop_h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.webshop_item p {
  text-align: center;
}

.webshop_button {
    margin-top: 20px;
    border-style: none;
    background-color: #6F2DA8;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 5px;
}
.webshop_button:active {
    background-color: #B509FF;
}

#shopping_cart{
  position: fixed;
  right: 40px;
  bottom: 2000px;
  transition: 1s;
}

#shopping_cart img{
  height: 100%;
  width: 100%;
}

#shopping_cart p {
    width: 20px;
    height: 20px;
    background-color: #6F2DA8;
    color: white;
    border-radius: 100%;
    display: block;
    text-align: center;
    position: absolute;
    padding: 4px;
    top: 0;
    right: 0;
  }

#shopping_cart a {
    height: 50px;
    width: 50px;
    padding: 10px;
    display: block;
    position: relative;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 5px #D3D3D3;
}


/* sources */

.body_sources{
  font-family: "Source Sans Pro", sans-serif;
}

.sources{
  display: flex;
  height: fit-content;
  width: 50vw;
  box-shadow: 0px 0px 10px 10px #c7c7c7;
  background-color: white;
  border-radius: 50px;
  justify-content: center;
  margin: auto;
  margin-top: 69px;
  padding: 30px;
}

.sources_text{
  margin-top: 20px;
}

.link_sources{
  text-decoration: none;
  font-weight: bold;
}

.h1_links{
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 24px;
}

.link_p{
  color: #551A8B;
  font-weight: bold;
}

.h1_links_top{
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 24px;
}


footer {
  text-align: center;
  padding: 10px;
  background-color: #EAA6FF;
  color: white;
  margin-top: 55px;
}

footer p{
  font-weight: bold;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (min-width: 10px) and (max-width: 450px){

  .navbar_menu {
   display:none;
   position: absolute;
   background-color: #DF83FC;
   right: 0;
   left: 0;
   text-align: center;
   padding: 16px 0;
   margin-top: 28px;
  }
  .navbar_menu li:hover {
   display: inline-block;
   background-color: purple;
   transition: 1s ease;
  }
  .navbar_menu li + li {
   margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .navbar_menu{
   display: block;
  }
  .menu_logo {
   display: block;
  }

  .background_image{
    height: calc(65vw - 68px);
    background-size: 100vw calc(55vw - 32px);
  }

  .grid_characters{
    grid-template-columns: 1fr;
    padding: 19px;
  }

  .img_character{
    width: 200px;
    height: 300px;
  }

  .card-text{
    font-size: 70%;
  }

  .reverse-card{
    height: 300px;
  }

  .reverse-card-back{
    height: 300px;
  }

  .band_role{
    font-size: 95%;
  }

  .searchbar{
    width: 80vw;
  }
  .reverse-card-back{
    width: 60%;
    margin-left: 20%;
  }

  .h1_content{
    height: 4vh;
  }

  .section_introduction{
    width: 90vw;
  }

  .content_game{
    width: 100%;
    margin-left: 0%;
    grid-template-columns: 1fr;
  }
  .text_bottom{
    width: 95%;
    margin-top: 10%;
    font-size: 80%;
  }

  .webshop{
    grid-template-columns: 1fr;
    width: 80%;
  }

  .sources{
    width: 95vw;
  }
  .link_sources{
    font-size: 80%;
  }
}

@media only screen and (min-width: 450px) and (max-width: 650px){

  .navbar_menu {
   display:none;
   position: absolute;
   background-color: #DF83FC;
   right: 0;
   left: 0;
   text-align: center;
   padding: 16px 0;
   margin-top: 28px;
  }
  .navbar_menu li:hover {
   display: inline-block;
   background-color: purple;
   transition: 1s ease;
  }
  .navbar_menu li + li {
   margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .navbar_menu{
   display: block;
  }
  .menu_logo {
   display: block;
  }

  .background_image{
    background-size: 100vw calc(55vw - 32px);
  }

  .grid_characters{
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .img_character{
    width: 200px;
    height: 300px;
  }

  .searchbar{
    width: 80vw;
  }
  .reverse-card-back{
    width: 60%;
    margin-left: 20%;
  }

  .section_introduction{
    width: 90vw;
  }

  .content_game{
    width: 100%;
    margin-left: 0%;
    grid-template-columns: 1fr;
  }
  .text_bottom{
    width: 90%;
    margin-top: 20%;
  }

  .webshop{
    grid-template-columns: 1fr;
    width: 80%;
  }
  .sources{
    width: 86vw;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1000px){

  .background_image{
    background-size: 100vw calc(55vw - 32px);
  }

  .grid_characters{
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 25px;
  }
  .searchbar{
    width: 80vw;
  }
  .reverse-card-back{
    margin-left: 0;
  }
  .section_introduction{
    width: 80vw;
  }

  .content_game{
    width: 100%;
    margin-left: 0%;
    grid-template-columns: 1fr;
  }
  .text_bottom{
    width: 80%;
    margin-top: 8%;
  }

  .webshop{
    grid-template-columns: 1fr;
    width: 80%;
  }
  .sources{
    width: 80vw;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1350px){
  .webshop{
    grid-template-columns: 1fr;
    width: 50%;
  }
  .Sources{
    width: 70vw;
  }
}
