*{
  margin: 0;
  padding: 0;
}

html body{
  height: 100%;
  margin: 0;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

body::-webkit-scrollbar{
  background-color: #ffe9ec;
}

body::-webkit-scrollbar-thumb{
  background-color: purple;
}

body {
  background: url(../img/backgrounds/Background_image_pages.png) fixed;
  background-repeat: repeat;
}

nav li{
  list-style-type: none;
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #E591FF;
}

.navbar_links a {
 color: black;
 font-weight: bold;
 text-decoration: none;
}

.logo {
  aspect-ratio: 5/1;
  width: 25vw;
}

.navbar_menu {
 display: flex;
 gap: 10px;
 font-size: 20px;
}

.navbar_menu li:hover {
 background-color: purple;
 border-radius: 50px;
 transition: 1s ease;
}

.navbar_menu li {
 padding: 0px 10px;
}


input[type=checkbox]{
 display: none;
}

.menu_logo {
 display: none;
 font-size: 24px;
 user-select: none;
}

.footer-section{
  padding:20px 0;
  color:#f0f9ff;
  background-color: #e13de7;
}

.footer-section {
  text-align:center;
  padding-bottom:20px;
}

.footer-section h3 {
  color: black;
  margin-top:0;
  margin-bottom:6px;
  font-weight:bold;
  font-size:16px;
}

.footer-section ul {
  color: black;
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-section ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-section ul a:hover {
  opacity:0.8;
}

.author{
  color: black;
  margin-top: 10px;
}

.copyright {
  text-align:center;
  padding-top:5px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}


@media only screen and (min-width: 10px) and (max-width: 450px){

  .navbar_menu {
   display:none;
   position: absolute;
   background-color: #DF83FC;
   right: 0;
   left: 0;
   text-align: center;
   padding: 16px 0;
   margin-top: 20px;
  }
  .navbar_menu li:hover {
   display: inline-block;
   background-color: purple;
   transition: 1s ease;
  }
  .navbar_menu li + li {
   margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .navbar_menu{
   display: block;
  }
  .menu_logo {
   display: block;
  }
}

@media only screen and (min-width: 450px) and (max-width: 650px){

  .navbar_menu {
   display:none;
   position: absolute;
   background-color: #DF83FC;
   right: 0;
   left: 0;
   text-align: center;
   padding: 16px 0;
   margin-top: 20px;
  }
  .navbar_menu li:hover {
   display: inline-block;
   background-color: purple;
   transition: 1s ease;
  }
  .navbar_menu li + li {
   margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .navbar_menu{
   display: block;
  }

  .menu_logo {
   display: block;
  }
}
