@import "master.css";


.form_exterior{
  display: block;
  height: fit-content;
  width: 40vw;
  background-color: #d3d3d3;
  border: solid 1px;
  border-radius: 70px;
  margin: 50px auto;
}

.grid_form{
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr;
 grid-gap: 10px;
 justify-items: center;
}

.form_title{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.section_button_form{
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}

.button_form{
  width: 150px;
  height: 40px;
  border: 1px solid;
  background-color: #ff3c72;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form_boxes{
  display: flex;
  text-align: center;
  width: 70%;
}

@media only screen and (min-width: 10px) and (max-width: 450px){

  .form_exterior{
    width: 90vw;
  }
}

@media only screen and (min-width: 450px) and (max-width: 650px){

  .form_exterior{
    width: 80vw;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1000px){

  .form_exterior{
    width: 65vw;
  }
}
